table
   tr
      th Title
      th SKU
      th Brand
      th Price
      th Link
      th Image
      th Short Description
      th Categories
      th Tags
      th Description
      th Specifications
   each product in products
      tr
         td= product.title
         td= product.sku
         td= product.brand
         td= product.price
         td= product.link
         td= product.image
         td= product.short_description
         td= product.categories
         td= product.tags
         td= product.description
         td= product.specifications
